extends layout 

block content 
    form(id='form' method='post' action='/create')
        p Username:
            input(type='text' name='username')
        p Email: 
            input(type='email' name='email')
        p Age:
            input(type='number' name='age' min='8' max='100')
        p Whats your Degree?:
            select(name="question1")  
                option(value="degree") Game Development 
                option(value="degree") Web Development
                option(value="degree") Information Systems
        p Favorite Holiday?:
            select(name="question2")  
                option(value="holiday") Chirstmas 
                option(value="holiday") Halloween
                option(value="holiday") Thanksgiving
        p Perferred Platform?: 
            select(name="question3")
                option(value="platform") PC
                option(value="platform") Xbox
                option(value="platform") Playstation   
        p Password:
            input(type='password' name='password')
        p 
            input(type='submit' value='Register')