extends layout 

block content 
    form(id='form' method='post' action='/create')
        p Username:
            input(type='text' name='username')
        p Email: 
            input(type='email' name='email')
        p Age:
            input(type='number' name='age' min='8' max='100')
        p Whats your Degree?:
            select(name="question1")  
                option(value="GD") Game Development 
                option(value="WD") Web Development
                option(value="IS") Information Systems
        p Favorite Holiday?:
            select(name="question2")  
                option(value="Christmas") Chirstmas 
                option(value="Halloween") Halloween
                option(value="Thanksgiving") Thanksgiving
        p Perferred Platform?: 
            select(name="question3")
                option(value="PC") PC
                option(value="Xbox") Xbox
                option(value="Playstation") Playstation   
        p Password:
            input(type='password' name='password')
        p 
            input(type='submit' value='Register')