extends layout 

block content 
    form(id='form' method='post' action='/create')
        p Username:
            input(type='text' name='username')
        p Email: 
            input(type='email' name='email')
        p Age:
            input(type='number' name='age' min='8' max='100')
        p Favorite Movie?: 
            input(type="text" name='question1')
        p Favorite Holiday?: 
            input(type="text" name='question2')
        p Favorite Food?: 
            input(type="text" name='question2')
        p Password:
            input(type='password' name='password')
        p 
            input(type='submit' value='Register')