extends layout

block content 
    h1 Welcome
    p=time
    p
        a(href='/edit') Edit your profile here
    form(method='POST' action='/logout')
        p 
            input(type="submit" value='logout')