extends layout 

block content 
    form(id='form' method='post' action='/create')
        p Username (user):
            input(type='text' name='user')
        p Email 
            input(type='email' name='email')
        p Age
            input(type='number' name='bday' min='8' max='104')
        p Password (password):
            input(type='password' name='password')
        p Category 
            select(name='category')
                option(value='knockknock') Knock Knock
                option(value='dadjoke') Dad Joke
                option(value='Ironic') Ironic
                
        p 
            input(type='submit' value='Add Joke')