.menu_item{
    display: inline-block;
    border:2px solid #fff;
    list-style-type: none;
    width: 150px;
    margin: 5px;
    padding: 5px;
    background-color: #2bdd4f;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}

body
{
    background-color: rgb(46, 89, 231);
}


